@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov&display=swap');

*
{
  outline: 0;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 
  user-select: none;
}

html{
  height: 100%;
}

body {
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Home {
  position: absolute;
  background-image: url(assets/background.png);
  background-size: cover;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.homeTitle {
  font-family: 'Creepster', cursive;
  position: absolute;
  text-align: center;
  left: 33%;
  top: 0;
  color: rgb(172, 16, 13);
  text-shadow: 0.5vw 0.5vw black;
  font-size: 7vw;
  z-index: 10;
  margin-bottom: 0;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 10;
}

.Home button {
  font-family: 'Creepster', cursive;
  padding:1vw 3vw;
  -moz-border-radius:0.5vw;
  -webkit-border-radius:0.5vw;
  border-radius:1.2vw;
  border:0.1vw solid rgba(153, 12, 12, 0.952);
  display:inline-block;
  cursor:pointer;
  font-size:2vw;
  font-weight:bold;
  text-decoration:none;
  margin-bottom: 5%;
  box-shadow: 0.3vw 0.3vw black;
  color:black;
  text-shadow: 0.1vw 0.1vw white;
  letter-spacing: 0.4vw;
  background-color: #c62128;
  background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
  opacity: 0.9;
}

.Home button:hover {
  border-color: black;
}

.BackButton {
  position: absolute;
  top: 10%;
  left: 80%;
  z-index: 10;
}

.CoopLobbies {
  width: 25%;
  padding: 1%;
  margin: 0;
  color: rgba(207, 27, 27, 0.952);
  text-shadow: 0.2vw 0.2vw black;
  font-size: 2vw;
  font-family: 'Creepster', cursive;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 37%;
  z-index: 10;
}
.CoopLobbies button {
  letter-spacing: 0.4vw;
}
.CoopLobbies input {
  width: 60%;
  padding: 2%;
  margin-bottom: 1%;
  text-align: center;
  font-size:2vw;
}
.CoopLobbies h1, h3 {
  margin: 0;
} 

.CoopLobby {
  width: 25%;
  padding: 1%;
  margin: 0;
  color: rgba(207, 27, 27, 0.952);
  text-shadow: 0.2vw 0.2vw black;
  font-size: 1.5vw;
  font-family: 'Creepster', cursive;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 37%;
  z-index: 10;
}

.coopGames button {
  margin: 0;
  padding:0.1vw 1vw;
  background-color:rgba(207, 27, 27, 0.952);
  font-size:1.5vw;
  font-weight:bold;
  text-decoration:none;
  box-shadow: 0.2vw 0.2vw black;
  letter-spacing: 0.2vw;
} 

.coopGames p {
  margin: 0;
} 

.GameArea {
  /* border: 1px solid black; */
  background-image: url(assets/background.png);
  background-size: cover;
  /* background-repeat: repeat; */
  position: absolute;
  width: 100%;
  /* height: 100%; */
  padding-top: 56.25%;
  overflow: hidden;
}

.Type {
  margin-left: -4vw;
  top: 10vh;
}

.TypeTextBox {
  font-family: 'Volkhov', serif;
  width: 15vw;
  text-align: center;
}

.Score {
  font-family: 'Volkhov', serif;
  position: absolute;
  font-size: 2vw;
  top: 1vw;
  left: 85%;
  z-index: 2;
  color: white;
  text-emphasis: bold;
  text-shadow: 0.2vw 0.2vw black;
}

.GameOver {
  font-family: 'Creepster', cursive;
  position: absolute;
  z-index: 7;
  top: 10%;
  left: 40%;
  font-size: 5vw;
  color: rgba(232, 29, 29);
  text-shadow: 0.5vw 0.5vw black;
}

.PlayerContainer {
  position: absolute;
  max-width: 8vw;
  max-height: 8vw;
}

.PlayerImg {
  max-width: 100%;
  height: auto;
  bottom: 0;
}

.ProjectileContainer {
  position: absolute;
  width: 3vw;
  height: 3vw;
}

.ProjectileImg {
  z-index: 2;
}

.MonsterContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 5vw;
}

.Monster {
  bottom: 0;
  /* max-width: 5vw;
  max-height: 5vw; */
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: contrast(150%); 
  filter: contrast(150%); 
  /* -webkit-filter: brightness(100%);  */
}

.MonsterName {
  font-family: 'Volkhov', serif;
  z-index: 4;
  color: white;
  background-color: black;
  margin: 0;
  font-size: 1em;
  text-align: center;
  padding: 0.1vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}

.Scores {
  font-family: 'Volkhov', serif;
  font-size: 1em;
  color: black;
  position: absolute;
  left: 68%;
  top: 5%;
  width: 25%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  border: 0.01vw solid #d0cccc;
  box-shadow: 0.3vw 0.3vw black;
  z-index: 7;
}

.Scores p {
  font-size: 1.5vw;
  margin: 0.2vw;
}

.Scores h1 {
  font-size: 3vw;
  font-family: 'Volkhov', serif;
  margin: 1vw;
  text-decoration: underline;
}

.EnterName {
  font-family: 'Volkhov', serif;
  font-size: 2vw;
  color: rgba(232, 29, 29);
  position: absolute;
  left: 40vw;
  top: 28vw;
  width: 20vw;
  margin: auto;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  background-color: white;
  border: 0.01vw solid #d0cccc;
  box-shadow: 0.3vw 0.3vw black;
  z-index: 7;
}

.EnterName input {
  height: 3vw;
  font-size: 2vw;
  text-align: center;
}