.App {
  text-align: center;
}

.GameArea {
}
/*
.Player {
  background-color: "blue";
  height: "50px";
  width: "50px";
}
*/
.Monsters {
 display: flex;
}
.Monster {
  animation: spin infinite 40s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
